<a href="https://colab.research.google.com/github/LouEcust/hello-world/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np
city_name=pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population=pd.Series([852469, 1015785, 485199])
cities=pd.DataFrame({'Population':population,'City name':city_name})
cities['Area square miles'] = pd.Series([46.87, 176.53, 97.92])
cities['Population density'] = cities['Population'] / cities['Area square miles']
cities['Is wide and has "San"'] = cities['City name'].apply(lambda name:name.startswith('San')) & (cities['Area square miles']>50)
cities.reindex([0,1,2])

,City name,Population,Area square miles,Population density,"Is wide and has ""San"""
0,San Francisco,852469,46.87,18187.945381,False
1,San Jose,1015785,176.53,5754.177760,True
2,Sacramento,485199,97.92,4955.055147,False